<h1>Edit task</h1>

    <br/>
    <%= render 'form', button_name: "Update Task" %>
    <div class="checkbox">
        <label>
          <%= check_box_tag(:complete) %>
          <%= label_tag(:complete, "Complete") %>
        </label>
    </div>
