<h1>Frequently Asked Questions</h1>
<br/>
<br/>
<ul>
  <% @faqs.each do |faq| %>
    <li>
      <a name= "faq.question">
      <a href= "#faq.question"><%= faq.question %></strong></a>
      </a>
    </li>
<br/>
  <% end %>
</ul>
<br/>
<br/>

<% @faqs.each do |faq| %>
    <strong><%= faq.question %></strong>
    <footer><%= faq.answer %></footer>
    <%= link_to("Top", faq_path) %>
    <br/>
    <br/>
  <% end %>
