@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: orange;
  text-color: black;
  margin-bottom: 0px;
}

#wrapper {
  background-color: grey;
}

#wrapper .container {
  background-color: white;
}
.jumbotron {
  text-align: center;
  background: none;
  margin-top: 40px;
}

img {
  width: 160%;
  height: 145px;
  overflow: hidden;
}

.center {
  text-align: center;
}

.text-left {

}
.smaller img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
