@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: black;
  text-color: white;
  margin-bottom: 0px;
}

body {
  padding-top: 80px;
}

.jumbotron {
  text-align: center;
  background: none;
  margin-top: 40px;
}

.panel-big-body {
  padding: 120px;
}

.panel-default {
  border: none;
}

blockquote {
  padding: 0px;
  border-left: none;
}

.center {
  text-align: center;
}

.smaller img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.table {
  border-bottom: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: thin;
}
.footer {
  div {
    display: inline-block;
  }

  img {
    height: 20px;
  }
}
.form-horizontal .control-label {
  text-align: left;
}

ul.navbar-brand {
  a {
  color: white;
  }
}
