@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: black;
  text-color: white;
  margin-bottom: 0px;
}

body {
  padding-top: 80px;
}

.jumbotron {
  text-align: center;
  background: none;
  margin-top: 40px;
}

.panel-big-body {
  padding: 120px;
}

.panel-default {
  border: none;
}

blockquote {
  padding: 0px;
  border-left: none;
}

img {
  width: 160%;
  height: 145px;
  overflow: hidden;
}

.center {
  text-align: center;
}

.smaller img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
